<!DOCTYPE html>
<html lang="en">
<head>

    <style type="text/css">
        #hi {color : mediumpurple;}
    </style>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    

<h1> medicine </h1>
<br><br><br>
<p> the amazing web site ever --- we sell midicine tools --- welcome </p><br>
<p> <h2> you can puy only one product </h2></p>
<br><br>
<img width="400px" height="200px" src="static/tools.png">
<h3><a href="{{url_for('product')}}"> 1- blood bag </a><br><br> <a href="{{url_for('p2')}}"> 2- first aid kit </a>
    <br><br><a href="{{url_for('p3')}}"> 3- scalpel </h3>


</body>
</html>