<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body {background-color: mediumpurple ;}
    </style>
    <meta charset="UTF-8">
    <title>Product 2</title>
</head>
<body>
<div class="card">
  <img src="static/first.jpeg" alt="first aid kit" style="width:30%">
  <h1>first aid kit</h1>
  <p class="price">$10.00</p>
  <p>easy to use --- you can put it into your home and stay safe <br> and it is only for 10 dollars</p>
  <p><button><a href="{{url_for('cart2')}}"> Add to Cart</a></button></p>
</div>
<br>
<a href="{{url_for('home')}}"><button>go back</button></a>
</body>
</html>