<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body {background-color: mediumpurple ;}
    </style>
    <meta charset="UTF-8">
    <title>Product 3</title>
</head>
<body>
<div class="card">
  <img src="static/second.jpeg" alt="scalpel" style="width:30%">
  <h1>scalpel</h1>
  <p class="price">$8.00</p>
  <p>easy to use --- you can put it into your room and stay safe <br> and it is only for 8 dollars</p>
<p><button><a href="{{url_for('cart3')}}"> Add to Cart</a></button></p>
</div>
<br>
<a href="{{url_for('home')}}"><button>go back</button></a>
</body>
</html>